.head-bar.grid_12
  .search-form.grid_9.alpha
    = form_tag('/stores', :method => :post) do
      Search stores within 
      = select_tag 'distance', options_for_select([ ['5', '5'], ['10', '10'], ['20', '20'], ['50', '50'], ['100', '100'], ['200', '200'] ], (params[:distance] || '20') ) 
      miles of
      = text_field_tag 'search', (params[:search] ||= 'Enter address, city and state or zipcode'), :size => 50
      = submit_tag 'search'
  .menu.grid_3.omega
    = render 'layouts/menu'
.clear
.map-wrapper.grid_12
  / = gmaps4rails(@stores_map)
  = gmaps("map_options" => {"center_latitude" => @center_map["lat"], "center_longitude" => @center_map["lng"], "auto_adjust" => true, "auto_zoom" => true}, "markers" => {"data" => @stores_map})

  / = gmaps("map_options" => {"detect_location" => true, "center_on_user" => true}, "markers" => {"data" => @stores_map})
.clear
.debug.grid_12
  .content
    .ip-section
      %h2 Your IP is #{request.remote_ip}
    .geolocation
      %p
        You are currently visiting us from
        %span= request.location.city || @city

.store-list-container.grid_12
  %h1.main-title Found #{@stores.count} stores nearby
  .stores
    = render @stores